<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>MeetOverlay</string>
    <key>CFBundleExecutable</key>
    <string>MeetOverlayApp</string>
    <key>CFBundleIdentifier</key>
    <string>dev.ilakovac.MeetOverlay</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MeetOverlay</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSCalendarsFullAccessUsageDescription</key>
    <string>MeetOverlay reads upcoming calendar events to show a fullscreen reminder when a Google Meet meeting is about to start.</string>
    <key>NSCalendarsUsageDescription</key>
    <string>MeetOverlay reads upcoming calendar events to show a fullscreen reminder when a Google Meet meeting is about to start.</string>
</dict>
</plist>
